* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  cursor: none !important;
  font-family: "Libre Baskerville Regular", serif;
}
@font-face {
  font-family: "Libre Baskerville Regular";
  src: url("./assets/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}
@font-face {
  font-family: "Libre Baskerville Bold";
  src: url("./assets/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf");
}
@font-face {
  font-family: "Libre Baskerville Italic";
  src: url("./assets/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf");
}
::selection {
  color: white !important;
  background-color: #8020b0;
}
p {
  line-height: 2;
  margin: 0 auto;
  max-width: calc(calc(3/5)*100vw);
  padding: 10px;
}
.quote {
  margin: 30px 100px;
  line-height: 2;
  text-align: justify;
}
i, em {
  font-family: "Libre Baskerville Italic", serif;
}
i em {
  font-family: "Libre Baskerville Regular", serif;
}
strong {
  font-family: "Libre Baskerville Bold", serif;
}

html {
  height: 100vh;
  width: 100vw;
}

#custom-cursor {
  position: absolute;
  background-image: url("./assets/ui/cursor_bold.png");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index:20;
  pointer-events: none;
}

body {
  position: relative;
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  color: white;
  background-color: black;
}

ul {
  text-align: left;
  line-height: 2;
  padding-left: 10px;
  list-style-position: inside;
  list-style-type: square;
}
ol {
  text-align: left;
  line-height: 2;
  margin: 20px 0;
  padding-left: 10px;
  list-style-position: inside;
}
ol li {
  margin-top: 20px;
}
hr {
  background-color: white;
  border: 1px solid white;
  height: 1px;
  width: 30vw;
  margin: 20px 0;
}

button {
  border: none;
  color: white;
  background-color: transparent;
  padding: 20px;
  margin: 10px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
}

button:hover {
  text-decoration: none;
  outline: none;
}

button:focus {
  text-decoration: none;
  outline: none !important;
}

button:active {
  text-decoration: none;
  outline: none;
}

button:visited {
  text-decoration: none;
  outline: none;
}

.button-housing {
  display: inline-grid;
  grid-template-rows: auto;
  width: fit-content; 
  width: -moz-fit-content;
}
.button-housing:focus {
  outline: none !important;
}
.middle-button-frame,.left-button-frame,.right-button-frame {
  background-size: contain;
  display: inline;
  position: relative;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.left-button-frame,.right-button-frame {
  background-repeat: no-repeat;
}
.middle-button-frame {
  background-image: url("./assets/ui/button_middle_frame.png");
  width: fit-content, -moz-fit-content;
  border: none;
  text-decoration: none;
  background-repeat: repeat-x;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle-button-frame {
  min-width: 100px;
}
.middle-button-frame p {
  padding: 0;
  margin: 0 10px;
}
.middle-button-frame:hover,.middle-button-frame:focus {
  outline: none !important;
}
.left-button-frame {
  background-image: url("./assets/ui/button_left_small.png");
  grid-column-start: 1;
  grid-column-end: 2;
}
.right-button-frame {
  background-image: url("./assets/ui/button_right_small.png");
  grid-column-start: 3;
  grid-column-end: 4;
}

#currentPosImg, #currentNegImg {
  display: block;
  position: relative;
  top:0;
  left:0;
  max-height: 70vh;
  width: 40vw;
}
#currentPosImg {
  z-index: 2;
  left: 50%;
}
#currentNegImg {
  z-index: 1;
  left: -50%;
}
#image-frame {
  position: relative;
  width: 40vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fade-in {
  opacity: 0.0;
  animation: 3s fade-in;
}
.fade-out {
  opacity: 1.0;
  animation: 3s fade-out;
}
@keyframes fade-in {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
@keyframes fade-out {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}


#story-frame {
  width: 45vw;
  flex-grow: 2;
}
#content {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  position: absolute;
  padding: 100px;
}

#focus-clear {
  display: none;
}

.invisible {
  display: none !important;
}

.labyrinth-color {
  color: #a02090;
}

.crow-color {
  color: #6040c0;
}

#loadingGIF {
  margin: 0 auto;
  height: 300px;
}

#load {
  position: absolute;
  margin: 0;
  top: 210px;
  left: 30%;
  right: 30%;
}

.tooltip {
  position: relative;
  display: inline;
  border-bottom: 1px dotted white;
  cursor: default;
}
.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 250px;
  width: 70vw;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
  border: 1px solid white;
  position: absolute;
  z-index: 3;
  bottom: 130%;
  left: 10%;
  pointer-events: none;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip:focus .tooltiptext {
  visibility: visible;
}
.tooltip:focus {
  outline: none !important;
}

#popup-menu {
  background-color: transparent;
  background-image: url('./assets/ui/popup-box.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 12;
  position: absolute;
  left: 50vw;
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}

#popup-contents {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ingame-menu-button {
  position: absolute;
  left: 4vw;
  top: 4vw;
  background-image: url('./assets/ui/ingame-menu-button.png')
}

#ingame-menu-button:hover {
  background-image: url('./assets/ui/ingame-menu-button-hover.png')
}

#ingame-menu-button:hover {
  background-image: url('./assets/ui/ingame-menu-button-active.png')
}

#ingame-menu-overlay {
  position: absolute;
  z-index: 5;
  height: 100vh;
  width: 100vw;
  background: #000000;
}

#ingame-nav {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#ingame-nav button {
  text-align: center;
  display: block;
  margin: 0 auto;
}

#ingame-nav .button-housing {
  display: block;
  display: grid;
}

#journal-contents::-webkit-scrollbar-thumb {
  background-color: black;
}

#journal-contents p {
  width: 100%;
  max-width: none;
}

#journal-overlay,#options-overlay,#credits-overlay,#font-license-overlay,#font-license-2-overlay,#gallery-overlay,#gallery-inspector-overlay {
  text-align: center;
  z-index: 15;
  padding: 50px;
  width: 90vw;
  height: calc(90vw*calc(265/420));
  position: absolute;
  left: 5vw;
  top: 5vh;
  background-image: url('./assets/ui/overlay-frame-cropped.png');
  background-size: cover;
  background-repeat: no-repeat;
}
#map-overlay {
  text-align: center;
  z-index: 15;
  padding: 0px;
  width: 90vw;
  height: calc(90vw*calc(265/420));
  position: absolute;
  left: 5vw;
  top: 5vh;
  background-image: url('./assets/ui/overlay-frame-cropped.png');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.overlay-frame-top {
  position: absolute;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  pointer-events: none;
  z-index: 17;
}
#map-overlay main {
  width: 90%;
  height: 70%;
  position: relative;
  margin: 0 auto 0 auto;
  overflow: hidden;
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#map-overlay-header {
  background-color: black;
  height: 15%;
  position: static;
  margin: 0 auto 0 auto;
  padding-top: 50px;
}
#map-housing {
  width: 100%;
  height: 100%;
  overflow: scroll;
  border: 1px solid white;
}
.grid-cell {
  display:'relative';
  background-repeat: 'no-repeat';
  background-size: 'contain';
  background-color: rgb(0,0,0);
}
.grid-node {
  position: relative;
  display: inline;
}
.grid-node .node-title {
  visibility: hidden;
  max-width: 30vw;
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  border: 1px solid white;
  outline: 5px solid black;
  position: absolute;
  z-index: 16;
  bottom: 70%;
  left: 50%;
  pointer-events: none;
}
.grid-node:hover .node-title {
  visibility: visible;
}

#map-center-block {
  height: fit-content;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#map-options-nav {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#map-ui-overlays {
  position: absolute;
  top: 0; 
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  pointer-events: none;
}
#map-node-inspector-frame {
  position: relative;
  display: inline;
  border: 1px solid white;
  outline: 5px solid black;
  background-color: black;
  padding: 15px;
  height: 50vh;
  width: 45vw;
  z-index: 16;
  pointer-events: all;
}
#node-inspector-header {
  height: 30%;
}
#node-inspector-text-content {
  height: 70%;
  overflow-y: scroll;
  text-align: left;
}
#node-inspector-close {
  position: absolute;
  padding:0;
  margin:0;
  height:30px;
  width:30px;
  background-image: url('./assets/ui/close-button.png');
  background-size: cover;
  background-repeat: no-repeat;
  top: 5px;
  left: 5px;
}
#map-saves-frame {
  position: relative;
  height: 50vh;
  width: 40vh;
  z-index: 16;
  pointer-events: all;
  background: black;
  outline: 5px solid black;
}
#save-menu-frame-border {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#map-saves-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0;
  padding: 0 0 0 0;
  height: 10.5vh;
}
#map-saves-show-hide {
  position: absolute;
  top: 0;
  left: 0;
}
#map-saves-list {
  height: 39.5vh;
  overflow-y: scroll;
  z-index: 15;
}
#map-saves-list button {
  display: block;
  margin: 0;
  padding: 20px;
  width: 100%;
  height: 15vh;
  background-color: black;
  text-decoration: none;
}
.selected-map-save {
  background-color: #501050 !important;
}
#map-saves-list button:hover,#map-saves-list button:focus {
  background-color: #501050;
}
#map-saves-list button:active {
  background-color: #802080;
}
#loading-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  position: absolute;
  z-index: 16;
  width: 100vw;
  height: 100vh;
}
#font-license,#font-license-2 {
  width:80%;
  height: 90%;
  text-align: left;
  margin: 30px auto;
  overflow-y: scroll;
}
#loading-gif {
  width: 50vw;
  height: auto;
  margin: 0 auto;
}
.overlay-close {
  position: absolute;
  padding:0;
  margin:0;
  height:30px;
  width:30px;
  background-image: url('./assets/ui/close-button.png');
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
}
.overlay-close:hover, #node-inspector-close:hover {
  background-image: url('./assets/ui/close-button-hover.png');
}
.overlay-close:active,#node-inspector-close:active {
  background-image: url('./assets/ui/close-button-active.png');
}

#options-overlay main {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 85%;
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}
#options-form {
  margin: 0 auto;
  padding: 0 40px 40px 40px;
}
fieldset {
  border: 1px solid white;
  padding: 10px 10px 20px 10px;
  margin: 20px auto;
}
fieldset fieldset {
  width: auto;
}
legend {
  padding: 2px 7px;
  border: 1px solid white;
  outline: 3px solid black;
}
label {
  margin-right: 20px;
}
input[type=button], input[type=submit] {
  padding: 2px 7px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-family: "Libre Baskerville Regular", serif;
}
input[type=button]:hover,input[type=button]:focus, input[type=submit]:hover,input[type=submit]:focus {
  padding: 2px 7px;
  border: 1px solid white;
  background-color: #444444;
  outline: none !important;
}
input[type=button]:active, input[type=submit]:active {
  padding: 2px 7px;
  border: 1px solid white;
  background-color: white;
  color: black;
}
input {
  filter: hue-rotate(60deg);
}
#volume-slider {
  width: 40%;
}

#content-warning-preview {
  background-image: url('./assets/ui/popup-box.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gallery-overlay main {
  width: 90%;
  height: 80%;
  margin: 5vh auto 0 auto;
  overflow-y: scroll;
}
#gallery-frame {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
.gallery-image-preview {
  width: 250px;
  height: 250px;
  background-image: url('./assets/ui/gallery-image-frame-small.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px;
  background-color: transparent;
}
.gallery-image-preview:hover {
  background-image: url('./assets/ui/gallery-image-frame-hover.png');
}
.gallery-image-preview:active {
  background-image: url('./assets/ui/gallery-image-frame-active.png');
}
.gallery-image-preview button {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-preview-img {
  width: 80%;
  height: 80%;
}
#gallery-inspector-overlay main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#gallery-inspector-frame {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
#gallery-back-button {
  background-image: url('./assets/ui/back-button.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
  height: calc(calc(7/8) * 70px);
}
#gallery-back-button:hover {
  background-image: url('./assets/ui/back-button-hover.png');
}
#gallery-back-button:active {
  background-image: url('./assets/ui/back-button-active.png');
}
#inspector-text-frame {
  text-align: center;
  width: 30%;
}
#inspector-image-frame {
  background-image: url('./assets/ui/gallery-image-frame.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#gallery-inspector-image {
  height: 100%;
  width: 100%;
}
#gallery-inspector-placeholder {
  height: 60%;
  width: 60%;
}
#journal-overlay main {
  display: grid;
  margin-top: 40px;
}

/*#journal-gradient-cover {
  pointer-events: none;
  position: absolute;
  height: 30px;
  width: 100%;
  left:0;
  bottom:10vh;
  z-index: 2;
  border-radius: 6px;
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,1));
}*/

#journal-table {
  overflow-y: scroll;
  grid-column: 1 / 2;
  border-right: 1px solid white;
  height: 60vh;
  padding: 0 30px 50px 0;
}

#journal-table button {
  margin: 0 5px 0 5px;
  padding: 10px 0;
  height: fit-content;
  width: 100%;
  text-align: right;
  display: block;
}

#journal-contents {
  overflow-y: scroll;
  grid-column: 2 / 3;
  padding-bottom: 30px;
  border-left: 1px solid white;
  height: 60vh;
  text-align: left;
}

#main-menu-overlay, #main-menu {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#main-nav {
  position: absolute;
  width: 500px;
  /*right: 32vw;*/
  top: 30vh;
}

#main-nav button {
  display: block;
  text-align: center;
  font-size: 4.5vh;
  padding: 2.5vh;
  margin: 0 auto;
}

#main-menu-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
}

#main-title {
  width: 30vw;
  height: auto;
  position: absolute;
  top: 20vh;
  left: 10vh;
  display: block;
}

#header-logo {
  width: 20vw;
  height: auto;
  position: absolute;
  bottom: 20vh;
  left: 10vh;
  display: block;
}

#background-parallax-front,#background-parallax-back {
  position: absolute;
  height: 110vh;
  width: auto;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: transparent;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: black;
  pointer-events: none;
  cursor: none;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: white;
}

.outline {
  width: inherit;
  height: inherit;
  min-height: inherit;
  min-width: inherit;
  max-height: inherit;
  max-width: inherit;
  border: 1px solid white;
  border-radius: 6px;
}


.noises-notes {
  font-size: 2em;
}